<div id="background"></div>
<div id="hexes">
    <!-- col 0 -->
    <div class="hex hex_ring_0" style="position:absolute; left:   0px; top:   0px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_1" style="position:absolute; left:   0px; top: 176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_1" style="position:absolute; left:   0px; top:-176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:   0px; top: 352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:   0px; top:-352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:   0px; top: 528px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:   0px; top:-528px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:   0px; top: 704px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:   0px; top:-704px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <!-- col +/- 1 -->
    <div class="hex hex_ring_1" style="position:absolute; left: 151px; top:  88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_1" style="position:absolute; left: 151px; top: -88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_1" style="position:absolute; left:-151px; top:  88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_1" style="position:absolute; left:-151px; top: -88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left: 151px; top: 264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left: 151px; top:-264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-151px; top: 264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-151px; top:-264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 151px; top: 440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 151px; top:-440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-151px; top: 440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-151px; top:-440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 151px; top: 616px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 151px; top:-616px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-151px; top: 616px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-151px; top:-616px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <!-- col +/- 2 -->
    <div class="hex hex_ring_2" style="position:absolute; left: 302px; top:   0px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-302px; top:   0px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left: 302px; top: 176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left: 302px; top:-176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-302px; top: 176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-302px; top:-176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 302px; top: 352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 302px; top:-352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-302px; top: 352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-302px; top:-352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 302px; top: 528px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 302px; top:-528px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-302px; top: 528px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-302px; top:-528px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <!-- col +/- 3 -->
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top:  88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top: -88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top:  88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top: -88px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top: 264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top:-264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top: 264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top:-264px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 453px; top: 440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 453px; top:-440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-453px; top: 440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-453px; top:-440px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <!-- col +/- 4 -->
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top:   0px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top:   0px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top: 176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top:-176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top: 176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top:-176px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top: 352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top:-352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top: 352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top:-352px;"><img src="/assets/hex.png" class="hex_img" alt="" /></div>
</div>
<div id="contentwindow">
    <div class="contentwindow-content">
        <p>Want to get in touch?</p>
        <p>You can contact me via Telegram <a href="https://t.me/m0k1_pw">Telegram</a><br></p>
        <p>You can also send me email at <a href="mailto:m0k1@riseup.net">m0k1@riseup.net</a></p>
    </div>
</div>
