<map id="hexmap" name="hexmap">
    <area id="hexmap_area_lt" name="hexmap_area_lt" shape="poly" coords="0,0,50,0,0,87" />
    <area id="hexmap_area_rt" name="hexmap_area_rt" shape="poly" coords="200,0,200,87,150,0" />
    <area id="hexmap_area_lb" name="hexmap_area_lb" shape="poly" coords="0,87,50,174,0,174" />
    <area id="hexmap_area_rb" name="hexmap_area_rb" shape="poly" coords="200,87,200,174,150,174" />
    <area id="hexmap_area_md" name="hexmap_area_md" shape="poly" coords="50,0,150,0,200,87,150,174,50,174,0,87" />
</map>
<div id="background"></div>
<div id="hexes">
    <!-- col 0 -->
    <div class="hex hex_ring_0" style="position:absolute; left:  0px; top:   0px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_1 hex_menu" style="position:absolute; left:     0px; top: 176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" />
        <div class="hex_contents" onmouseover="hex_offset(0,0)">
            <div class="icon">
                <a href="contact"><img src="assets/menu-contact.png" alt="" /></a>
            </div>
            <a href="contact" class="hex_label_minor">Contact</a>
        </div>
    </div>
    <div class="hex hex_ring_1 hex_menu" style="position:absolute; left:     0px; top:-176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" />
        <div class="hex_contents" onmouseover="hex_offset(0,0)">
            <div class="icon">
                <a href="/blog"><img src="assets/menu-hexatlas.png" alt="" /></a>
            </div>
            <a href="/blog" class="hex_label_minor" style="font-family:SourceCodePro,monospace; font-size:14pt;">Blog</a>
        </div>
    </div>
    <div class="hex hex_ring_2" style="position:absolute; left:  0px; top: 352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:  0px; top:-352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:  0px; top: 528px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:  0px; top:-528px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:  0px; top: 704px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:  0px; top:-704px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <!-- col +/- 1 -->
    <div class="hex hex_ring_1 hex_menu" style="position:absolute; left: 151px; top:    88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" />
        <div class="hex_contents" onmouseover="hex_offset(0,0)">
            <div class="icon">
                <a href="https://c.m0k1.pw"><img src="assets/menu-cloud.png" alt="" /></a>
            </div>
            <a href="https://c.m0k1.pw" class="hex_label_minor">Cloud</a>
        </div>
    </div>
    <div class="hex hex_ring_1 hex_menu" style="position:absolute; left: 151px; top: -88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" />
        <div class="hex_contents" onmouseover="hex_offset(0,0)">
            <div class="icon">
                <a href="https://github.com/m0k1"><img src="assets/menu-github.png" alt="" /></a>
            </div>
            <a href="https://github.com/m0k1" class="hex_label_minor">GitHub</a>
        </div>
    </div>
    <div class="hex hex_ring_1 hex_menu" style="position:absolute; left:-151px; top:    88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" />
        <div class="hex_contents" onmouseover="hex_offset(0,0)">
            <div class="icon">
                <a href="https://junglecode.io"><img src="assets/menu-jungle.png" alt="" /></a>
            </div>
            <a href="https://junglecode.io" class="hex_label_minor">JungleCode.io</a>
        </div>
    </div>
    <div class="hex hex_ring_1 hex_menu" style="position:absolute; left:-151px; top: -88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" />
        <div class="hex_contents" onmouseover="hex_offset(0,0)">
            <div class="icon">
                <a href="projects"><img src="assets/menu-projects.png" alt="" /></a>
            </div>
            <a href="projects" class="hex_label_minor">Projects</a>
        </div>
    </div>
    <div class="hex hex_ring_2" style="position:absolute; left: 151px; top: 264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left: 151px; top:-264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-151px; top: 264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-151px; top:-264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 151px; top: 440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 151px; top:-440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-151px; top: 440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-151px; top:-440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 151px; top: 616px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 151px; top:-616px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-151px; top: 616px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-151px; top:-616px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <!-- col +/- 2 -->
    <div class="hex hex_ring_2" style="position:absolute; left: 302px; top:  0px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-302px; top:  0px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left: 302px; top: 176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left: 302px; top:-176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-302px; top: 176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_2" style="position:absolute; left:-302px; top:-176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 302px; top: 352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 302px; top:-352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-302px; top: 352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-302px; top:-352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 302px; top: 528px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 302px; top:-528px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-302px; top: 528px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-302px; top:-528px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <!-- col +/- 3 -->
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top: 88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top: -88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top: 88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top: -88px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top: 264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left: 453px; top:-264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top: 264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_3" style="position:absolute; left:-453px; top:-264px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 453px; top: 440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 453px; top:-440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-453px; top: 440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-453px; top:-440px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <!-- col +/- 4 -->
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top:  0px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top:  0px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top: 176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top:-176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top: 176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top:-176px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top: 352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left: 604px; top:-352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top: 352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
    <div class="hex hex_ring_4" style="position:absolute; left:-604px; top:-352px;"><img src="assets/hex.png" class="hex_img" alt="" usemap="#hexmap" /></div>
</div>
